body{
    background-color: #B1EFFF;
}
/* .navbar-collapse{
    justify-content: space-evenly;
} */
.navbar-nav{
    padding-left: 2rem;
}
#mainnav{
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 3rem;
}
#mainnav .nav-link{
    color: #95B0B7;
}
#mainnav .nav-link:hover{
    color: #324A51;
    text-shadow: 1px 1px 0 #95B0B7;
}
#mainnav .navbar-brand{
    font-family: "Merriweather" ,sans-serif;
    color :#324A51;
    font-size: 4rem;
    font-weight: 100;
}
#navdrop .nav-link{
    font-family: "Montserrat", sans-serif;
}
